* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: Helvetica, sans-serif;
}


body .header{
    display: flex; 
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    position: sticky;
    top: 0px;
    background: white;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 52, 96);
    color: white;
    margin: 0% 5% 0% 5%;

}

.navbar .fitness-title{
    font-size: 2.5rem;
    font-family:serif;
    padding-left: 1%;
    padding-top: 1%;
    

}

.logo {
    width: 60px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin-left: .5em; 
    
   
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgb(8, 94, 117);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
       display: none;
       width: 100%;
    }


.navbar{
    flex-direction: column;
    align-items: flex-start;
}

.navbar-links ul{
    width: 100%;
    flex-direction: column;
}

.navbar-links li {
    text-align: center;
}

.navbar-links li a {
    padding: .5rem 1rem;
}

.navbar-links.active {
    display: flex;
}
}


 .navbar .searchArea input{
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid #cecfd1;
    text-align: center;
    margin: 5% 0% 10% 20%;
   
    
}

 .navbar .searchArea button{
    background: #45464a;
    border: 1px solid #45464a;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    margin-right: 20%;
   
}

.banner img{
    width: 90%;
    height: 550px;
    position: relative;
    margin: 1% 5% 1% 5%;
    overflow: hidden;

}

